<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<head>
    <meta charset="UTF-8">
</head>
<th:block layout:fragment="script">
    <script src="/js/order/orderWrite.js"></script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/order/orderWrite.css">
</th:block>

<div layout:fragment="content">
    <h1 class="order-title">주문서 작성</h1>
    <div class="order-form" action="/orders" method="post"> <!-- 주문을 제출할 URL로 변경해야 합니다. -->
        <div id= "buyItem" style="display: flex;">
            <img src="/images/item/a03ea7d2-86e0-4d0b-a9ba-60902a2a483f.jpg" alt="구입상품" id="imagePreview" style="width: 250px; height: 200px; ">
            <!-- https://i.ibb.co/Lg2YY2x/test-img1.png-->
            <!--다이어트 도시락 2-->
            <div style="margin-left: 30px;">
                <h4>제품명 : 오븐 구이 닭가슴살 식단 </h4>
                <p style="margin-top:130px;">수량: 1<p>
            </div>
        </div>

        <div id="userInfo">
            <label class="form-label" for="customerName">고객명:</label>
            <input class="form-input" type="text" id="customerName" name="customerName" value="이희산"required>

            <label class="form-label" for ="contactNumber">연락처:</label>
            <input class="form-input" type="tel" id="contactNumber" name="contactNumber" value="010-3333-3333" oninput="oninputPhone(this)" required>


            <div style="display: flex; align-items: flex-start; margin-top: 10px;">
                <input type="text" id="sample6_postcode" class="form-input" style="text-align: Center; width: 25%;" placeholder="우편번호" required> &nbsp;
                <input type="button" onclick="sample6_execDaumPostcode()" style="width: 10%;" class="itsButton popsearch" value="검색"><br>
            </div>
            <input type="text"class="form-input" id="sample6_address" placeholder="주소"><br>
            <input type="text" class="form-input"id="sample6_extraAddress" placeholder="참고항목">
            <input type="text" class="form-input"id="sample6_detailAddress" placeholder="상세주소">


            <label class="form-label" for="specialInstructions">배송 요청 사항:</label>
            <textarea class="form-input" id="specialInstructions" name="specialInstructions"></textarea>
        </div>

        <input class="submit-button" type="submit" value="주문 제출" onclick="requestPay()">
    </div>
</div>
</html>
