<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
    <div layout:fragment="content">
        <div class="event-post">
            <h2>이벤트 제목 1</h2>
            <p>게시 날짜: 2023-10-24</p>
            <img src="https://webudding.com/_next/image/?url=https%3A%2F%2Fd29hudvzbgrxww.cloudfront.net%2Fpublic%2Fproduct%2F20220905144129-ee57741b-6057-4a1a-8531-8e6dcb6315f7.jpg&w=3840&q=100" alt="이벤트 이미지 1">
        </div>
        <hr>
        <div class="event-post">
            <h2>이벤트 제목 2</h2>
            <p>게시 날짜: 2023-10-25</p>
            <img src="https://webudding.com/_next/image/?url=https%3A%2F%2Fd29hudvzbgrxww.cloudfront.net%2Fpublic%2Fproduct%2F20220905144129-ee57741b-6057-4a1a-8531-8e6dcb6315f7.jpg&w=3840&q=100" alt="이벤트 이미지 2">
        </div>

    </div>
</html>