<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="script">
    <script src="/js/event/event.js"></script>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/event/event.css">
</th:block>
<div layout:fragment="content">
    <div class="event-container">
        <div class="event-header">
            <h1 class="event-title">이벤트</h1>
        </div>
        <div class="event-post">
            <div id="section1">
                <h2>김종국의 식단 이벤트
                    <img class="share-icon" src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-share_90177.png" alt="공유 아이콘" onclick="copyToClipboard()">
                </h2>
                <p class="event-date">2023-10-24</p>
                <div class="event-image-container">
                    <div class="image-wrapper">
                        <img src="https://i.ibb.co/rfNBb6h/event1.png" alt="이벤트 이미지 1">
                    </div>
                    <div class="image-wrapper">
                        <img src="https://i.ibb.co/Hx2mq3Y/event1-1.png" alt="이벤트 이미지 1_1">
                    </div>
                    <div class="image-wrapper">
                        <img src="https://i.ibb.co/GWC0bKb/event1-2.png" alt="이벤트 이미지 1_1">
                    </div>
                </div>
            </div>
        </div>
        <div class="event-post">
            <div id="section2">
                <h2>수능 이벤트!!!
                    <img class="share-icon" src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-share_90177.png" alt="공유 아이콘" onclick="copyToClipboard()">
                </h2>
                <p class="event-date">2023-10-25</p>
                <div class="event-image-container">
                    <div class="image-wrapper">
                        <img src="https://i.ibb.co/F4JqjzB/event2.png" alt="이벤트 이미지 2">
                    </div>
                    <hr>
                    <div class="image-wrapper">
                        <img src="https://i.ibb.co/TLr6cvH/event2-1.png" alt="이벤트 이미지 2_1">
                    </div>
                </div>
            </div>
        </div>
        <div class="event-post">
            <div id="section3">
                <h2>가을의 달 11월달 이벤트
                    <img class="share-icon" src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-share_90177.png" alt="공유 아이콘" onclick="copyToClipboard()">
                </h2>
                <p class="event-date">2023-10-24</p>
                <div class="event-image-container">
                    <div class="image-wrapper">
                        <img src="https://i.ibb.co/vvNkq4Z/event3.png" alt="이벤트 이미지 1">
                    </div>
                </div>
            </div>
        </div>
        <!-- 추가 게시물 추가 가능 -->
        </div>
    </div>
</html>