<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/myPage/myPage.css">
    </th:block>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<div layout:fragment="content">
    <div class="member-container">
        <h2>마이페이지</h2>
        <hr>
        <div class="form-group">
            <label>이름</label>
            <input type="text" th:value="${user.name}" readonly />
        </div>
        <div class="form-group">
            <label>이메일</label>
            <input type="text" th:value="${user.email}" readonly />
        </div>
        <div class="form-group">
            <label>주소</label>
            <input type="text" th:value="${user.address}" readonly />
        </div>
        <div class="form-group">
            <label>전화번호</label>
            <input type="text" th:value="${user.phoneNumber}" readonly />
        </div>
        <a href="#" th:href="@{'/members/edit'}">
            <button type="button" class="btn btn-primary">수정</button>
        </a>
    </div>
</div>
</html>