<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/myPage/myPage.css">
    </th:block>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<div layout:fragment="content">
    <div class="member-container">
        <hr>
          <dd>
                <input type="text" id="MTO_POST" name="MTO_POST" value="" style="text-align:Center;width:25%" onkeydown="if(event.keyCode == 46 || event.keyCode == 8) {this.value = '';document.getElementById('MTO_ADD1').value = ''; }" onfocus="javascript:{this.select();}">
                &nbsp;
                <button type="button" id="btnMTO_POST" name="btnMTO_POST" style="margin-left:0px" class="itsButton popsearch" onclick="javascript:{onKakaoJusoClick(this);}">
                      ...</button>&nbsp;<input type="text" id="MTO_ADD1" name="MTO_ADD1" value="" style="width:62%" readonly="readOnly"></dd>
    </div>
</div>
</html>
