<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">

</head>
<th:block layout:fragment="script">
    <link rel="stylesheet" href="/css/notice/noticeDtl.js">
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/notice/noticeDtl.css">
</th:block>
<div layout:fragment="content" >
    <h1>공지사항</h1>
    <div class="notice-container">
        <h2 th:text="${notice.noticeNm}"></h2>
        <hr>
        <p class="notice-date" th:text="${notice.regTime}" style="float: right;"></p>
        <p class="author">작성자: <span th:text="${notice.writeName}"></span></p>
        <p class="notice-detail" th:text="${notice.noticeDetail}" ></p> <!-- 공지 세부 내용 스타일 추가 -->
    </div>
    <div class="back-button">
        <a href="/notices">뒤로가기</a>
    </div>
</div>
</html>
